<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Pilar Editor"
            extensions="pilar, plr"
            icon="icons/plr_icon.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="iamandroid.editors.PilarEditor"
            id="iamandroid.editors.PilarEditor">
      </editor>
   </extension>
   <extension
         id="AmandroidNature"
         point="org.eclipse.core.resources.natures"
         name="Amandroid Project Nature">
      <runtime>
         <run
               class="iamandroid.natures.PilarNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="AmandroidBuilder"
         point="org.eclipse.core.resources.builders"
         name="Amandroid Project Builder">
      <builder
            hasNature="true">
         <run
               class="iamandroid.builders.AmandroidBuilder">
               <parameter name="optimize" value="true" />
            	 <parameter name="comment" value="Builder comment" />
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="IAmandroid.amandroid.prefs"
            class="iamandroid.preferences.PilarEditorPrefs"
            id="IAmandroid.amandroid.prefs.editor"
            name="PilarEditor">
      </page>
      <page
            class="iamandroid.preferences.AmandroidRootPrefs"
            id="IAmandroid.amandroid.prefs"
            name="Amandroid">
      </page>
      <page
            category="IAmandroid.amandroid.prefs.editor"
            class="iamandroid.preferences.PilarTypingPrefs"
            id="IAmandroid.amandroid.prefs.editor.typing"
            name="Typing">
      </page>
      <page
            category="IAmandroid.amandroid.prefs.editor"
            class="iamandroid.preferences.PilarCodeFormatterPage"
            id="IAmandroid.amandroid.prefs.editor.formatter"
            name="Code Formatter">
      </page>
      <page
            category="IAmandroid.amandroid.prefs.editor"
            class="iamandroid.preferences.FileTypesPreferencesPage"
            id="IAmandroid.amandroid.prefs.editor.formatter"
            name="File types">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="iamandroid.preferences.PilarEditorPrefsInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="IAmandroid.category"
            name="Amandroid">
      </category>
      <wizard
            category="IAmandroid.category"
            class="iamandroid.ui.wizards.project.AmandroidProjectWizard"
            descriptionImage="icons/amandroid_logo.png"
            icon="icons/amandroid_16x16.png"
            id="IAmandroid.ui.wizards.project.AmandroidProjectWizard"
            name="Amandroid Project"
            project="true">
      </wizard>
   </extension>

</plugin>
