<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sourcefileprovider" name="Source File Providers" schema="schema/sourcefileprovider.exsd"/>
   <extension-point id="semanticHighlightingParticipants" name="Semantic Highlighting Participants" schema="schema/semanticHighlightingParticipants.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.arguside.ui.preferences"
            class="org.arguside.ui.internal.logging.LoggingPreferencePage"
            id="org.arguside.ui.preferences.logging"
            name="Logging">
      </page>
      <page
            category="org.arguside.ui.preferences"
            class="org.arguside.ui.internal.preferences.EditorPreferencePage"
            id="org.arguside.ui.preferences.editor"
            name="Editor">
      </page>
      <page
            class="org.arguside.ui.internal.preferences.ArgusPreferences"
            id="org.arguside.ui.preferences"
            name="Argus">
      </page>
      <page
            category="org.arguside.ui.preferences.editor"
            class="org.arguside.ui.internal.preferences.SyntaxColoringPreferencePage"
            id="org.arguside.ui.preferences.editor.highlighting"
            name="Syntax Coloring">
      </page>
      <page
            category="org.scalaide.ui.preferences"
            class="org.arguside.ui.internal.preferences.ResourcesPreferencePage"
            id="org.arguside.ui.preferences.resources"
            name="Resources">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.arguside.ui.internal.preferences.ColorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.preferences.EditorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.preferences.ResourcesPreferencePageInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.logging.LoggingPreferencePageInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.arguside.ui.internal.PerspectiveFactory"
            icon="icons/full/eview16/sperspective.gif"
            id="org.argus-ide.cit.core.perspective"
            name="Argus">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/argus_co.gif"
            id="org.argus-ide.cit.core.argusNatureImage"
            natureId="org.argus-ide.cit.core.argusnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.argus-ide.cit.core.natures.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <visibility>
            <and>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.core.IJavaProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.core.IPackageFragment">
                  </objectClass></or>
               <objectState
                     name="projectNature"
                     value="org.argus-ide.cit.core.argusnature">
               </objectState>
            </and>
         </visibility>
         <menu
               id="org.argus-ide.cit.core.popupMenu"
               label="Argus"
               path="additions">
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.argus-ide.cit.core.natures.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <enablement>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.jdt.core.javanature">
            </test>
         </enablement>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.argus-ide.cit.core.argusnature">
            </objectState>
         </visibility>
         <action
               class="org.arguside.ui.internal.actions.ToggleArgusNatureAction"
               enablesFor="+"
               id="org.argus-ide.cit.core.natures.ToggleNatureAction"
               label="Remove Argus Nature"
               menubarPath="org.argus-ide.cit.core.popupMenu/content"
               tooltip="Removes a Argus Builder/Classpath from a project">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.argus-ide.cit.core.natures.contribution2"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <enablement>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.jdt.core.javanature">
            </test>
         </enablement>
         <visibility>
            <not>
               <objectState
                     name="projectNature"
                     value="org.argus-ide.cit.core.argusnature">
               </objectState>
            </not>
         </visibility>
         <action
               class="org.arguside.ui.internal.actions.ToggleArgusNatureAction"
               enablesFor="+"
               icon="icons/full/etool16/newsprj_wiz.gif"
               id="org.argus-ide.cit.core.natures.ToggleNatureAction"
               label="Add Argus Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               tooltip="Adds Argus builder / classpath to a project">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.argus-ide.cit.core.restartJawaPresentationCompiler"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.arguside.ui.internal.actions.RestartPresentationCompilerAction"
               enablesFor="+"
               id="org.argus-ide.cit.core.action.restartJawaPresentationCompiler"
               label="Restart Presentation Compiler"
               menubarPath="org.argus-ide.cit.core.popupMenu/content">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.argus-ide.cit.core.argusnature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="pilar,plr"
            id="argus.tools.eclipse.jawaSource"
            name="Jawa Source File"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.jdt.core.javaClass"
            file-extensions="class"
            id="argus.tools.eclipse.jawaClass"
            name="Jawa Class File"
            priority="high">
         <describer
               class="org.arguside.core.internal.jdt.model.JawaClassFileDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.cfprovider">
      <provider
            class="org.arguside.core.internal.jdt.model.JawaClassFileProvider">
      </provider>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.cuprovider">
      <provider
            class="org.arguside.core.internal.jdt.model.JawaCompilationUnitProvider"
            file_extension="pilar,plr">
      </provider>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.imagedescriptorselector">
      <selector
            class="org.arguside.ui.internal.jdt.model.JawaImageDescriptorSelector">
      </selector>
   </extension>
   <extension
         point="org.argus-ide.cit.core.sourcefileprovider">
      <provider
            class="org.arguside.core.internal.jdt.model.JawaSourceFileProvider"
            file_extension="pilar,plr">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.argus-ide.cit.core.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.argus-ide.cit.core.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.argus-ide.cit.core.perspective">
         <actionSet
               id="org.argus-ide.cit.ui.argusMenu.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.arguside.ui.internal.editor.JawaSourceFileEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            default="false"
            extensions="pilar,plr"
            icon="icons/full/obj16/scu_obj.gif"
            id="argus.tools.eclipse.JawaSourceFileEditor"
            name="Jawa Editor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont">
         <contentTypeBinding
               contentTypeId="argus.tools.eclipse.jawaSource">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.arguside.ui.internal.editor.JawaClassFileEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorActionContributor"
            default="true"
            icon="icons/full/obj16/sclassf_obj.gif"
            id="argus.tools.eclipse.JawaClassFileEditor"
            name="Jawa Class File Viewer"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont">
         <contentTypeBinding
               contentTypeId="argus.tools.eclipse.jawaClass">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.argus-ide.cit.ui.argusMenu.actionSet"
            label="Argus Diagnostics"
            visible="false">
         <action
               class="org.arguside.ui.internal.actions.RunDiagnosticAction"
               enablesFor="*"
               id="org.argus-ide.cit.ui.openLogFile.action"
               label="Open the Log"
               menubarPath="org_argus-ide_cit_ui_menu/additions"
               tooltip="Open the Log file in an editor">
         </action>
         <action
               class="org.arguside.ui.internal.actions.RunDiagnosticAction"
               enablesFor="*"
               id="org.argus-ide.cit.ui.reportBug.action"
               label="Report a Bug"
               menubarPath="org_argus-ide_cit_ui_menu/additions"
               tooltip="Report a bug in the Argus Code Inspection Tools">
         </action>
         <menu
               id="org_argus-ide_cit_ui_menu"
               label="Argus"
               path="additions">
            <groupMarker
                  name="additions">
            </groupMarker>
            <groupMarker
                  name="diagnostics">
            </groupMarker>
         </menu>
         <action
               class="org.arguside.ui.internal.actions.RunDiagnosticAction"
               enablesFor="*"
               id="org.argus-ide.cit.ui.runDiag.action"
               label="Run Setup Diagnostics"
               menubarPath="org_argus-ide_cit_ui_menu/diagnostics"
               tooltip="Verify that Argus configuration is correct">
         </action>
      </actionSet>
   </extension>
   <extension
         id="argusnature"
         name="Argus Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.arguside.core.internal.project.Nature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.jdt.ui.A_OpenActionSet">
         <part
               id="argus.tools.eclipse.JawaSourceFileEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="org.arguside.ui.internal.jdt.model.JawaElementFilter"
            description="Prevents Jawa elements which are artefacts of the Jawa to Java encoding from appearing in the Package Explorer"
            enabled="true"
            id="argus.tools.eclipse.javaelements.JawaElementFilter"
            name="Jawa element filter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.jdt.internal.ui.javaeditor.JavaDocumentSetupParticipant"
            contentTypeId="argus.tools.eclipse.jawaSource">
      </participant>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.arguside.ui.internal.handlers.GenericExceptionStatusHandler"
            code="521"
            id="GenericHandler"
            plugin="org.argus-ide.cit.core">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Argus source file editor"
            id="argus.tools.eclipse.jawaEditorScope"
            name="Editing Argus Source"
            parentId="org.eclipse.jdt.ui.javaEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.arguside.ui.internal.explorer.ArgusDecorator"
            id="argus.tools.eclipse.ui.ArgusDecorator"
            label="Argus Decorations"
            lightweight="true"
            state="true">
         <description>
            Shows Argus specific icons
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="org.argus-ide.cit.core.problem"
            name="org.eclipse.jdt.ui.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerSeverity="0"
            markerType="org.argus-ide.cit.core.problem"
            name="org.eclipse.jdt.ui.info"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerSeverity="1"
            markerType="org.argus-ide.cit.core.problem"
            name="org.eclipse.jdt.ui.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.arguside.refactoring.extractionScope"
            colorPreferenceKey="extractionScope.color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="extractionScope.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Code Selection Marker"
            overviewRulerPreferenceKey="extractionScopeOverview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="extractionScope.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="extractionScope.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#CompilationUnitEditorContext?before=additions">
         <command
               commandId="argus.tools.eclipse.editor.ShowTypeOfSelection"
               label="Show Type"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="argus.tools.eclipse.JawaSourceFileEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.argus-ide.cit.core.toolbar"
               label="Jawa Text Editor">
         </toolbar>
      </menuContribution>
   </extension>


</plugin>
