<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sourcefileprovider" name="Source File Providers" schema="schema/sourcefileprovider.exsd"/>
   <extension-point id="semanticHighlightingParticipants" name="Semantic Highlighting Participants" schema="schema/semanticHighlightingParticipants.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.arguside.ui.preferences"
            class="org.arguside.ui.internal.logging.LoggingPreferencePage"
            id="org.arguside.ui.preferences.logging"
            name="Logging">
      </page>
      <page
            category="org.arguside.ui.preferences.editor"
            class="org.arguside.ui.internal.preferences.FormatterPreferencePage"
            id="org.arguside.ui.preferences.editor.formatter"
            name="Formatter">
      </page>
      <page
            category="org.arguside.ui.preferences"
            class="org.arguside.ui.internal.preferences.EditorPreferencePage"
            id="org.arguside.ui.preferences.editor"
            name="Editor">
      </page>
      <page
            class="org.arguside.ui.internal.preferences.ArgusPreferences"
            id="org.arguside.ui.preferences"
            name="Argus">
      </page>
      <page
            category="org.arguside.ui.preferences.editor"
            class="org.arguside.ui.internal.preferences.SyntaxColoringPreferencePage"
            id="org.arguside.ui.preferences.editor.highlighting"
            name="Syntax Coloring">
      </page>
      <page
            category="org.arguside.ui.preferences.editor"
            class="org.arguside.ui.internal.preferences.SaveActionsPreferencePage"
            id="org.arguside.ui.preferences.editor.saveactions"
            name="Save Actions">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.arguside.ui.internal.logging.LoggingPreferencePageInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.migration.MigrationPreferenceInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.preferences.ColorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.preferences.EditorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.arguside.ui.internal.preferences.SaveActionsPreferenceInitializer">
      </initializer>
      <initializer
            class="org.arguside.core.internal.formatter.ArgusFormatterPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.arguside.ui.internal.PerspectiveFactory"
            icon="icons/full/eview16/sperspective.gif"
            id="org.argus-ide.cit.core.perspective"
            name="Argus">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/argus_co.gif"
            id="org.argus-ide.cit.core.argusNatureImage"
            natureId="org.argus-ide.cit.core.argusnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.argus-ide.cit.core.natures.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <visibility>
            <and>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.core.IJavaProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.core.IPackageFragment">
                  </objectClass></or>
               <objectState
                     name="projectNature"
                     value="org.argus-ide.cit.core.argusnature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.argus-ide.cit.core.natures.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <enablement>
            <test
              property="org.eclipse.core.resources.projectNature"
              value="org.eclipse.jdt.core.javanature">
            </test>
         </enablement>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.argus-ide.cit.core.argusnature">
            </objectState>
         </visibility>
         <action
               class="org.arguside.ui.internal.actions.ToggleScalaNatureAction"
               enablesFor="+"
               id="org.argus-ide.cit.core.natures.ToggleNatureAction"
               label="Remove Argus Nature"
               menubarPath="org.argus-ide.cit.core.popupMenu/content"
               tooltip="Removes a Argus Builder/Classpath from a project">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.argus-ide.cit.core.natures.contribution2"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <enablement>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.jdt.core.javanature">
            </test>
         </enablement>
         <visibility>
            <not>
               <objectState
                     name="projectNature"
                     value="org.argus-ide.cit.core.argusnature">
               </objectState>
            </not>
         </visibility>
         <action
               class="org.arguside.ui.internal.actions.ToggleScalaNatureAction"
               enablesFor="+"
               icon="icons/full/etool16/newsprj_wiz.gif"
               id="org.argus-ide.cit.core.natures.ToggleNatureAction"
               label="Add Argus Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               tooltip="Adds Argus builder / classpath to a project">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="pilar,plr"
            id="argus.tools.eclipse.argusSource"
            name="Argus Source File"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.jdt.core.javaClass"
            file-extensions="class"
            id="argus.tools.eclipse.argusClass"
            name="Argus Class File"
            priority="high">
         <describer
               class="org.arguside.core.internal.jdt.model.ArgusClassFileDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.cfprovider">
      <provider
            class="org.arguside.core.internal.jdt.model.ArgusClassFileProvider">
      </provider>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.cuprovider">
      <provider
            class="org.arguside.core.internal.jdt.model.ArgusCompilationUnitProvider"
            file_extension="pilar,plr">
      </provider>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.imagedescriptorselector">
      <selector
            class="org.arguside.ui.internal.jdt.model.ArgusImageDescriptorSelector">
      </selector>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.indexerprovider">
      <provider
            class="org.arguside.core.internal.jdt.search.ArgusSourceIndexerFactory">
      </provider>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.openactionprovider">
      <provider
            class="org.arguside.ui.internal.actions.hyperlinks.OpenActionProvider">
      </provider>
   </extension>
   <extension
         point="org.argus-ide.cit.core.sourcefileprovider">
      <provider
            class="org.arguside.core.internal.jdt.model.ArgusSourceFileProvider"
            file_extension="pilar,plr">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.argus-ide.cit.core.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.argus-ide.cit.core.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.arguside.ui.internal.editor.ArgusSourceFileEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            default="false"
            extensions="pilar,plr"
            icon="icons/full/obj16/scu_obj.gif"
            id="argus.tools.eclipse.ArgusSourceFileEditor"
            name="Argus Editor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont">
      </editor>
      <editor
            class="org.arguside.ui.internal.editor.ArgusClassFileEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorActionContributor"
            default="true"
            icon="icons/full/obj16/sclassf_obj.gif"
            id="argus.tools.eclipse.ArgusClassFileEditor"
            name="Argus Class File Viewer"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont">
      </editor>
   </extension>
   <extension
         point="org.argus-ide.cit.aspects.formatterCleanUp">
      <provider
            class="org.arguside.core.internal.formatter.ArgusFormatterCleanUpProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.arguside.ui.internal.preferences.FormatterPreferencePage"
            id="org.arguside.ui.preferences.editor.formatter"
            name="Argus Formatter">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </or>
         </enabledWhen>
         <filter
               name="nature"
               value="org.argus-ide.cit.core.argusnature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.argus-ide.cit.ui.argusMenu.actionSet"
            label="Argus Diagnostics"
            visible="false">
         <action
               class="org.arguside.ui.internal.actions.RunDiagnosticAction"
               enablesFor="*"
               id="org.argus-ide.cit.ui.openLogFile.action"
               label="Open the Log"
               menubarPath="org_argus-ide_cit_ui_menu/additions"
               style="push"
               tooltip="Open the Log file in an editor">
         </action>
         <action
               class="org.scalaide.ui.internal.actions.RunDiagnosticAction"
               id="org.argus-ide.cit.ui.reportBug.action"
               label="Report a Bug"
               menubarPath="org_argus-ide_cit_ui_menu/additions"
               tooltip="Report a bug in the Argus Code Inspection Tools">
         </action>
         <action
               id="org.argus-ide.cit.ui.runDiag.action"
               label="Run Setup Diagnostics"
               menubarPath="org_argus-ide_cit_ui_menu/diagnostics"
               style="push"
               tooltip="Verify that Argus configuration is correct">
         </action>
         <menu
               id="org_argus-ide_cit_ui_menu"
               label="Argus"
               path="additions">
            <groupMarker
                  name="additions">
            </groupMarker>
            <groupMarker
                  name="diagnostics">
            </groupMarker>
         </menu>
      </actionSet>
   </extension>


</plugin>
